# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/ConsoleApplication1/.vs/ConsoleApplication1/v17/ipch/AutoPCH/3e61de0e1b4c390b/CONSOLEAPPLICATION1.ipch
/ConsoleApplication1/.vs/ConsoleApplication1/v17
